
# Make emacs the default editor.
export EDITOR='emacs'

# Bash settings
export HISTCONTROL=ignoreboth # ignore duplicate or lines starting with space in history
export HISTSIZE=32768
export HISTFILESIZE="${HISTSIZE}"

# Case-insensitive globbing (used in pathname expansion)
shopt -s nocaseglob

# Recursive globbing with "**"

if [ ${BASH_VERSINFO[0]} -ge 4 ]; then
    shopt -s globstar
fi

# Append to the Bash history file, rather than overwriting it
shopt -s histappend

# Autocorrect typos in path names when using `cd`
shopt -s cdspell

# Do not autocomplete when accidentally pressing Tab on an empty line.
shopt -s no_empty_cmd_completion

# Check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# Use en_US by default and enable UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Timezone data
export TZ='Europe/Paris'

#
# BASH-IT
# https://github.com/bash-it/bash-it
#

# Path to bash-it
export BASH_IT="$DOTFILES_DIR/bash-it"

# Lock and Load a custom theme file
# location /.bash_it/themes/
export BASH_IT_THEME='cupcake'

# Set this to false to turn off version control status checking within the prompt for all themes
export SCM_CHECK=true

#
# RUBY
#

if [ -d $HOME/.rvm/bin ]; then
   export PATH="$PATH:$HOME/.rvm/bin" # Add RVM to PATH for scripting
fi
